@model TranzmitUI.Models.UserMaster

<DOCTYPE! html>
    <html>
    <head>
        <title>AddUser</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />
        <script src="~/Content/jquery.1.8.3.min.js"></script>
        <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="~/Content/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </head>
    <body style="overflow-x:hidden;">
        <div class="pageContainer">
            <div class="insertPageTitle">Reset Password</div>
            @*<div>
                            <button class="scheduleButton" style="margin-right:5px" onclick="wrong_pass_alert()">
                                SAVE
                            </button>
                            <a class="cancelRedirectButton" style="" href="/Home/UserList">

                                CANCEL

                            </a>
            <a href="~/Views/Home/AddUser.cshtml">~/Views/Home/AddUser.cshtml</a>
                        </div>*@

        </div>
        <hr />

        @*<div style="padding:10px;color:black;">
            <center><h3>DEVICE INSERT</h3></center>
        </div>*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="column" style="height:100%; width:100%;">
                    <table width="50%" align="center" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em; border-width: 5px; border-color:black;margin:0 25%;">


                        <tr>
                            <td class="lblsec">Newpassword</td>
                            <td></td>
                            <td>
                                @Html.PasswordFor(model => model.PasswordUser, new { @class = "inputstyle", @autocomplete = "off" })
                                <br />
                                @Html.ValidationMessageFor(model => model.PasswordUser)
                            </td>
                        </tr>
                        <tr>
                            <td class="lblsec">Confirmpassword</td>
                            <td></td>
                            <td>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "inputstyle", onkeyup = "validate_password();" })
                                <br />
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                <span id="wrong_pass_alert"></span>
                            </td>
                        </tr>

                       
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="padding-top:100px;" valign="bottom">
                                <div style="width:300px;">
                                    <button style="float:left;margin-right:5px" class="@(Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "form-btn" : "scheduleButton")">
                                        Update
                                    </button>
                                    <a class="@(Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "form-btn" : "scheduleButton")" href="/Home/UserList">

                                        Cancel

                                    </a>
                                </div>



                            </td>
                        </tr>

                    </table>
                </div>
            </div>


        }
        <script>
            $("#organization").hide();

        </script>
        <script>
            $(document).ready(function () {
                $("input[id='Bandwidth']").val(1024);
            });
        </script>

        <script>
            function validate_password() {

                var pass = document.getElementById('PasswordUser').value;
                var confirm_pass = document.getElementById('ConfirmPassword').value;
                if (pass != confirm_pass) {
                    document.getElementById('wrong_pass_alert').style.color = 'red';
                    document.getElementById('wrong_pass_alert').innerHTML
                        = '☒ Use same password';
                    document.getElementById('create').disabled = true;
                    document.getElementById('create').style.opacity = (0.4);
                } else {
                    document.getElementById('wrong_pass_alert').style.color = 'green';
                    document.getElementById('wrong_pass_alert').innerHTML =
                        '🗹';
                    document.getElementById('create').disabled = false;
                    document.getElementById('create').style.opacity = (1);
                }
            }

            function wrong_pass_alert() {
                if (document.getElementById('PasswordUser').value != "" &&
                    document.getElementById('ConfirmPassword').value != "") {
                    //alert("Your data is submitted");
                }
                //} else {
                //    alert("Please fill all the fields");
                //}
            }
            function roleselection() {



                var value = document.getElementById("RoleName");
                var getvalue = value.options[value.selectedIndex].value;
                var gettext = value.options[value.selectedIndex].text;
                if (getvalue == "M") {

                    $("#organization").show();

                }
                else {
                    $("#organization").hide();
                }


            }
        </script>
    </body>
</html>
