@model TranzmitUI.Models.DeviceMaster



<html>
<head>
    <title>DEVICE</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="overflow-x:hidden;">
    <div class="pageContainer">
        <div class="insertPageTitle">UpdateDevice</div>


    </div>
    <hr />
    <div>

        @if (ViewBag.UpdateFail != null)
        {
            <script type="text/javascript">

                      window.onload = function () {
                      alert("@ViewBag.UpdateFail");
                        };
            </script>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="column" style="height:100%; width:100%;">
                <table width="50%" align="center" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em; border-width: 5px; border-color: black; margin: 0 30%;">

                    <tr>
                        <td class="lblsec">DeviceIP</td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.DeviceIP, new { @class = "inputstyle" })
                            <br />
                            @Html.ValidationMessageFor(model => model.DeviceIP)
                        </td>
                    </tr>
                    <tr>
                        <td class="lblsec">DevicePort</td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.DevicePort, new { @class = "inputstyle" })
                            <br />
                            @Html.ValidationMessageFor(model => model.DevicePort)
                        </td>
                    </tr>
                    <tr>
                        <td class="lblsec">@*@Html.LabelFor(model => model.CityId)*@Location</td>
                        <td></td>
                        <td>
                            @Html.DropDownListFor(model => model.LocationID,
                                ViewBag.Location as List<SelectListItem>, new { @class = "ddlsize" })
                            <br />
                            @Html.ValidationMessageFor(model => model.LocationID)
                        </td>
                    </tr>
                    <tr>
                        <td class="lblsec">@*@Html.LabelFor(model => model.CityId)*@DeviceMake</td>
                        <td></td>
                        <td>
                            @Html.DropDownListFor(model => model.DeviceMake, new List<SelectListItem>{new SelectListItem{ Text="DEIBOLD"},
           new SelectListItem{ Text="NCR" } }, new { @class = "ddlsize" })
                            <br />
                            @Html.ValidationMessageFor(model => model.DeviceMake)
                        </td>
                    </tr>



                    <tr>
                        <td class="lblsec">Bandwidth</td>
                        <td></td>
                        <td>
                            @Html.TextBoxFor(model => model.Bandwidth, new { @class = "inputstyle" })
                            <br />
                            @Html.ValidationMessageFor(model => model.Bandwidth)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td style="padding-top:100px;" valign="bottom">
                            <div style="width:300px;">
                                <button style="float:left;margin-right:5px" class="@(Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "form-btn" : "scheduleButton")">
                                    Update
                                </button>
                                <a class="@(Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "form-btn" : "scheduleButton")" href="/Home/DeviceList">

                                    Cancel

                                </a>
                            </div>



                        </td>
                    </tr>
                </table>
            </div>
        </div>

    }
    <script>
        $(function () {
            $(".multiselect").multiselect();
        });
    </script>
</body>

</html>
