@model TranzmitUI.Models.UserMaster

<DOCTYPE! html>
    <html>
    <head>
        <title>USER</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />
        <script src="~/Content/jquery.1.8.3.min.js"></script>
        <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
        <script src="~/Content/bootstrap-multiselect.js"></script>
        
    </head>
    <body>
        <div style="height:50px;background-color:white;color:black;">
            <center><h3>USER INSERT</h3></center>
        </div>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="column" style="padding:15px 5px 5px 150px">
                <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">
                    <tr>
                        <td style="padding:0 15px 0 15px;">USERNAME</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">EMP ID</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.EmpID)</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">DESIGNATION</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.Designation)</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">DEPARTMENT</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.Department)</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">MOBILE</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.Mobile)</td>
                    </tr>
                </table>
            </div>
            <div class="column" style="padding:15px 5px 5px 25px">
                <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">
                    <tr>
                        <td style="padding:0 15px 0 15px;">EMAIL</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">CITY</td>
                        <td>@Html.DropDownListFor(model => model.CityName, Model.CitySelect, "Please select")</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">STATE</td>
                        <td>@Html.DropDownListFor(model => model.StateName, Model.StateSelect, "Please select")</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">COUNTRY</td>
                        <td>@Html.DropDownListFor(model => model.CountryName, Model.CountrySelect, "Please select")</td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;">GROUP</td>
                        <td style="padding:0 15px 0 15px;">@Html.RadioButtonFor(model => model.Group, "Existing", true) EXISTING</td>
                        <td style="padding:0 15px 0 15px;">@Html.RadioButtonFor(model => model.Group, "New", true) NEW</td>
                    </tr>
                </table>

                <div id="dvexist" style="display: none">
                    <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">
                        <tr>
                            <td style="padding:0 15px 0 15px;">GROUP</td>
                            <td>@Html.DropDownListFor(model => model.GroupName, Model.GroupSelect, "Please select")</td>
                        </tr>
                    </table>
                </div>
                <div id="dvnew" style="display: none">
                    <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">
                        <tr>
                            <td style="padding:0 15px 0 15px;">GROUP</td>
                            <td style="border:groove;">@Html.TextBoxFor(model => model.Gname)</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="container-login100-form-btn" style="margin-left:600px;padding-top:inherit">
                <button class="login100-form-btn">
                    ADD
                </button>
            </div>
        </div>
        }
        <script>
            $("#dvexist").hide();
            $("#dvnew").hide();
            $("input[name='Group']").on("change", function () {
                if ($(this).val() == "Existing") {
                    $("#dvexist").show();
                    $("#dvnew").hide();
                }
                if ($(this).val() == "New") {
                    $("#dvnew").show();
                    $("#dvexist").hide();
                }
            });
        </script>
    </body>
</html>
