@model IEnumerable<TranzmitUI.Models.DeviceTransmission>
@*@model TranzmitUI.Models.FilterViewModel*@

<DOCTYPE! html>
    <html>
    <head>
        <title>UserList</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/Gridmvc.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/gridmvc.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <link href="~/Content/main.css" rel="stylesheet" />
        <script src="~/Content/jquery1.10.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

        <script src="~/Scripts/JavaScript.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        @section Scripts {

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>

        }
    </head>
    <body style="overflow-x:hidden;">

        <div>
            <div>
                @if (ViewBag.UserSuccess != null)
                {
                    <script type="text/javascript">

                      window.onload = function () {
                      alert("@ViewBag.UserSuccess");
                         };
                    </script>
                }
                @if (ViewBag.PasswordSuccess != null)
                {
                    <script type="text/javascript">

                      window.onload = function () {
                      alert("@ViewBag.PasswordSuccess");
                        };
                    </script>
                }
                @if (ViewBag.DeleteSuccess != null)
                {
                    <script type="text/javascript">

                      window.onload = function () {
                      alert("@ViewBag.DeleteSuccess");
                         };
                    </script>
                }
                @if (ViewBag.DeleteFail != null)
                {
                    <script type="text/javascript">

                      window.onload = function () {
                      alert("@ViewBag.DeleteFail");
                        };
                    </script>
                }
            </div>
                <div class="row" style="width: 100%; align-content: center;">
                    <div style="width:5%;float:left;"></div>
                    <div class="column" style="width:100%;">
                        <!--<div style="width:100%;padding-top:15px;">-->
                        @*@Html.ActionLink("AddUser", "AddUser", "HomeController", new { @class = "login100-form-btn", @style = "width:150px;text-align:center;" })*@
                        <!--<a href="/Home/AddUser" class="login100-form-btn" style="width:150px;text-align:center;">AddUser</a>-->
                        @*<input type="button" class="login100-form-btn" value="Filter" id="ShowModelPopUp;" />*@
                        @*@Html.ActionLink("Filter", "FilterPopup", "HomeController", new { @class = "login100-form-btn", @style = "width:150px;text-align:center;" })*@
                        <!--</div>
    <br />-->

                        <div style="width:50%;float:right;">
                            <input id="myInput" type="text" class="inputstyle" placeholder="search" style="float:right;border:groove;">
                        </div>
                        <div style="clear:both;"></div>
                        <div class="pageContainer">
                            <div class="scheduleTitle">
                               UserList
                            </div>
                            <div>
                                @Html.ActionLink("ADD", "AddUser", "HomeController", new { @class = Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "form-btn" : "scheduleButton" } )
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="width:100%;">
                            <div id="location">

                                <table class="table @(Session["UserOraganization"].ToString() == "KeralaStateCooperativeBank" ? "sessiontableheader" : "tableheader")" style="width:100%;font-size:15px;" cellpadding="2" cellspacing="2">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Username</th>
                                        <th>Organization</th>
                                        <th>Email</th>

                                        <th>Role</th>
                                        <th>Actions</th>

                                    </tr>
                                    <tbody id="myTable">
                                        @foreach (var item in Model)
                                        {
                                            <tr >
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Uid)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EmailId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Organization)
                                                </td>
                                                <td >
                                                    @Html.DisplayFor(modelItem => item.Role)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ResetPassword", "Home",new { id = item.UserID })" title="ResetPassword">
                                                        <img alt="Edit" style="width:20px;height:20px;" src="@Url.Content("~/images/Reset.png")">

                                                    </a>
                                                    &nbsp;&nbsp;
                                                    <a href="@Url.Action("DeleteUser", "Home",new { id = item.UserID })" title="Delete" onclick="return confirm('Are sure wants to delete?');">
                                                        <img alt="Delete" style="width:22px;height:20px;" src="@Url.Content("~/images/delete.png")">
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>



                        </div>

                    </div>
                    <div style="width:5%;float:left;"></div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <style>
                table th {
                    font-size: 13px;
                }

                table td {
                    font-size: 11px;
                }
            </style>
            <script>

                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
            @*<script type="text/javascript">
            ShowModelPopUp = function () {
                window.open('/Home/FilterPopup', "PopupWindow", 'width=400px,height=400px');
            }
        </script>*@

           

</body>
    </html>
