@model TranzmitUI.Models.RepositoryMaster

<html>
<head>
    <title>REPOSITORY</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <center><h3>UPDATE REPOSITORY</h3></center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="column" style="padding:23px 5px 5px 150px;">
                <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">

                    <tr>
                        <td>TYPE</td>
                        <td>@Html.RadioButtonFor(model => model.File, "Schedule", true) Schedule </td>
                        <td>@Html.RadioButtonFor(model => model.File, "Immediate", false) Immediate </td>
                    </tr>
                    <tr>
                        <td>VERSION</td>
                        <td style="border:groove;">@Html.TextBoxFor(model => model.RepVersion)</td>
                    </tr>
                    <tr>
                        <td>FILENAME</td>
                        <td>@Html.DropDownList("RepName", (IEnumerable<SelectListItem>)(ViewData["Repository"]), "Please Select")</td>
                    </tr>
                </table>
            </div>
            
        </div>
        <div class="container-login100-form-btn" style="margin-left:600px;padding-bottom:100px;">
            <button class="login100-form-btn">
                UPDATE
            </button>
        </div>
    }
</body>
</html>