@model TranzmitUI.Models.UserMaster

<html>
<head>
    <title>USER</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <center><h3>UPDATE USER</h3></center>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="column" style="padding:23px 5px 5px 150px;">
            <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">

                <tr>
                    <td>USERNAME</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>GROUP</td>
                    <td>@Html.DropDownList("GroupName", (IEnumerable<SelectListItem>)
                       (ViewData["Group"]), "Please Select")</td>
                </tr>
                <tr>
                    <td>CITY</td>
                    <td>@Html.DropDownList("CityName", (IEnumerable<SelectListItem>)
                       (ViewData["City"]), "Please Select")</td>
                </tr>
                <tr>
                    <td>STATE</td>
                    <td>@Html.DropDownList("StateName", (IEnumerable<SelectListItem>)
                      (ViewData["State"]), "Please Select")</td>
                </tr>
                <tr>
                    <td>COUNTRY</td>
                    <td>@Html.DropDownList("CountryName", (IEnumerable<SelectListItem>)
                       (ViewData["Country"]), "Please Select")</td>
                </tr>
            </table>
        </div>
        <div class="column" style="padding:23px 5px 5px 150px;">
            <table align="center" border="0" cellpadding="5" cellspacing="10" style="border-collapse: separate; border-spacing: 0 1em;">


                <tr>
                    <td>EMP ID</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.EmpID)</td>
                </tr>
                <tr>
                    <td>DESIGNATION</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.Designation)</td>
                </tr>
                <tr>
                    <td>DEPARTMENT</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.Department)</td>
                </tr>
                <tr>
                    <td>MOBILE</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.Mobile)</td>
                </tr>
                <tr>
                    <td>EMAIL</td>
                    <td style="border:groove;">@Html.TextBoxFor(model => model.Email)</td>
                </tr>
            </table>
        </div>
    </div>
        <div class="container-login100-form-btn" style="margin-left:600px;padding-bottom:100px;">
            <button class="login100-form-btn">
                UPDATE
            </button>
        </div>
    }
</body>
</html>